* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(180deg, #F2F2F2 0%, #C8D8E4 100%);
}

/* header and navbar */
.navbar-brand {
    letter-spacing: 3px;
    color: #2B6777;
}

.navbar-brand:hover {
    color: #2B6777;
}

.navbar-scroll .nav-link,
.navbar-scroll .fa-bars {
    color: #000;
}

.navbar-scrolled .nav-link,
.navbar-scrolled .fa-bars {
    color: #52ab98;
}

.navbar-scrolled {
    background-color: #ffffff;
}
.sign-up {
    height: 16px;
    width: 16px;
}
.navbar .nav-item .dropdown-menu{ display: none; }
.navbar .nav-item:hover .nav-link{   }
.navbar .nav-item:hover .dropdown-menu{ display: block; }
.navbar .nav-item .dropdown-menu{ margin-top:0; }
.dropdown-toggle::after {
    content: none;
}

/* footer */
.vector {
    width: 100%
}
.shade {
    width: 100%;
    position: absolute;
    bottom: 240px;
}
.footer-container {
    background-color: #2B6777;
}
li.borderless { 
    border: 0 none;
    padding: 5px 2px 5px 2px;
    background-color: #2B6777;
 }
 .footer-icons {
     padding-right: 0 !important;
 }
.footer-nav a {
    color: #ffffff;
}
.footer-text, .footer-text i {
    color: #ffffff;
}
.footer-text a {
    color:#52ab98;
}
.footer-btn, 
.footer-btn:hover, 
.footer-btn:active, 
.footer-btn:visited {
    background-color: #52ab98 !important;
    border-color: #52ab98;
}
.footer-logo {
    z-index: 2;
}
.footer-icons i {
    color: #ffffff;
}
/* landing select form */
.landing-forms {
    border:#000 10px;
}
.landing-nav {
    justify-content: center;
}
.input-group {
    display: flex;
    flex-direction: column;
}

/* brands block */
.brands-block {
    background-color: #C8D8E4;
}
.brand img {
    width: 100px;
    height: 150px;
}

/* products carousel */
.carousel-title {
    font-size: 26px;
    color: #000;
    font-weight: 300;
    text-align: left;
    text-transform: uppercase;
    position: relative;
    margin: 30px 0 60px;
}
.carousel {
    margin: 50px auto;
    padding: 0 70px;
}
.carousel-indicators {
    bottom: -50px;
}
.carousel-indicators li.active {
    background: rgba(0, 0, 0, 0.5);
}

.carousel-indicators li, .carousel-indicators li.active {
    width: 10px;
    height: 10px;
    margin: 4px;
    border-radius: 50%;
    border: none;
}
.carousel-indicators .active {
    opacity: 1;;
}
.carousel .item {
    min-height: 325px;
    text-align: center;
    overflow: hidden;
}
.carousel-item.active {
    display: block;
}
.carousel .thumb-wrapper {
    padding-bottom: 100px;
    background: #ffffff;
    border-radius: 6px;
    text-align: center;
    position: relative;
    box-shadow: 0 2px 3px rgb(0, 0, 0 / 20%);
    border-radius: 10px;
}
.carousel .wish-icon {
    position: absolute;
    right: 10px;
    top: 5px;
    z-index: 99;
    cursor: pointer;
    font-size: 16px;
    color: red;
}
 .img-box {
    margin-bottom: 20px;
    width: 100%;
    position: relative;
}
.img-fluid {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.thumb-content {
    padding-top: 30px;
} 
/* .carousel .item img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
} */
.carousel .item h4 {
    font-size: 18px;
    margin-bottom: 5px;
}
.carousel .item-price {
    margin-bottom: 5px;
    font-size: 13px;
    padding: 2px 0;
}
p {
    margin-top: 0;
}
.carousel .thumb-content .btn {
    color:#52AB98;
}
.carousel-inner::after {
    display: block;
    clear: both;
    content: "";
}
.carousel-control-prev {
    margin-left: -2px;
    bottom: 50%;
}
/*.carousel-control-prev .bi {
    font-size: 36px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -19px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: #000;
    text-shadow: none;
    font-weight: bold;
} */